create-db.php
index_WIP_backup_before_adding_users.php
config/vars.php
testquery.php
index_testlogin.php
data/
.vscode/settings.json
migrations/sql/create_visits.sql
migrations/sql/gtfs_to_mysql backup.sql
migrations/sql/gtfs_to_mysql_S_U_only.sql
