    html {
      font-size: 14px; /* base size for rem */
    }

    body {
      font-family: Arial, sans-serif;
      max-width: 87.5rem; 
      margin: 3rem auto;
      padding: 0 1.5rem;
      background:rgb(235, 221, 26); 
      color: #333;
    }

    h1 {
      color:rgb(22, 22, 22); 
      text-align: right;
      font-weight: 900;
      margin: 0; /* NB: 0 to prevent inheritance of other margins */
      font-size: 4rem;
      /* letter-spacing: 0.08em; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .subtitle {
      font-size: 1rem;
      font-weight: 600;
      text-align: right;
      margin-top: -0.5rem;
      color: #666;
    }

    .php-output {  
      font-family: monospace; 
      text-align: right;
      font-size: 0.75rem; 
      color: #878765; 
      margin-bottom: 0.5rem;
    }

    button {
        background-color:rgb(228, 108, 43);
        color: white;
        /* display: inline-block; */
    }

    .container {
      display: flex;
      gap: 1.25rem; 
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }

    .table-wrapper {
       /*max-width: 700px; */
      overflow: auto; /* allows scrolling if table grows too tall */
      background: #F2F2F2;
      padding: 1rem;
      border-radius: 2rem;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }

    table {
      font-family: sans-serif;
      /* font-size: 0.875rem;  */
      border-collapse: separate;
      border-spacing: 6px 4px; 
      /* min-width: 600px; /* was to avoid shrinking too much */
    }

    th {
    /* background-color: #eded13; */
    color: #333; 
    /* font-weight: bold;  */
    border-bottom: 4px dashed #833d3d; 
    /* text-transform: uppercase; */
    font-size: 0.85em; 
    }
    
    .destination-cell {
      background-color: #000000;
      padding-left: 0.8em;
      padding-right: 1.2em;
    }
    
    #text-container {
      background: #fbfce8;
      color: #222;
      border-radius: 2rem;
      padding: 0.05em 1.6em;
      line-height: 1.5;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
      letter-spacing: 0.01em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 0;
    }

    #map {
      height: 40rem;
      width: auto;
      border: 1px solid #ccc;
      background: #eee;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    /* Responsive adjustments */
    @media (max-width: 900px) {
      .container {
        flex-direction: column;
        align-items: center;
      }
      #map {
        width: 100%;
        max-width: 600px;
        height: 400px;
      }
      .table-wrapper {
        max-width: 100%;
        max-height: 300px;
      }
    }